/.lake
/FrogModel/G3Q/
/code/g3k/.lake
/code/g3k/out/
/code/certificate/target/
/code/certificate/out/*.zst
/code/certificate/out/occupations.txt
/code/certificate/out/info.out
/code/certificate/out/certificate.v4
paper/main.aux
paper/main.log
paper/main.fls
paper/main.fdb_latexmk
paper/main.out
paper/main.pdf
paper/main.bbl
paper/main.blg
paper/main.toc
paper/main.synctex.gz
/code/table/target/
/code/table/out/table.v2
/code/table/out/table.v3
/code/table/out/iterate.txt*
